body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

h1 {
  position: absolute;
  bottom: 1%;
  left:5%;
  width: 94%;
  font-size: 52px;
  letter-spacing: 4px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  text-align: left;
}
.logo{
  position: absolute;
  top: 2%;
  left:4%;
  max-width: 34%;
  height:auto;
  

}
* {
  box-sizing: border-box;
}

.form {
  width: 400px;
  position: relative;
  height: 60px;
  overflow: hidden;
  margin: 40px 0;
  border-radius:20px;
  font-family: Montserrat, sans-serif;
  }

  .form input {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  border: none;
  background-color: #f38181;
  }
  .form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-left:10px;
  pointer-events: none;
  border-bottom: 1px solid white;
  }
  .form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #fce38a;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  }

  .content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
  }
  .form input:focus {
  outline: none;
  }
  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: #fce38a;
  }
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
  transform: translateX(0%);
  }
  .button {
  display: flex;
  justify-content: center;
  margin-top:20px;
  }
  button.sexy-button {
      color: #1aa8e2;
      text-decoration: none;
      background-color:  #f38181;
      -webkit-transition: .3s all ease;
      transition: .3s ease all;
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: inline-block;
      text-align: center;
      width: 170px;
      font-weight: 700;
      padding: 10px 0;
      border: 2px solid #1aa8e2;
      border-radius: 8px;
      position: relative;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.485), 0 3px 6px rgba(0,0,0,.1);
      z-index: 2;
  }
  button.sexy-button:before {
      -webkit-transition: .5s all ease;
      transition: .5s all ease;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: '';
      background-color: #1aa8e2;
      z-index: -1;
  }
  button.sexy-button:hover,
  button.sexy-button:focus
  {
  color: #FFF;
  }
  button.sexy-button:hover:before,
  button.sexy-button:focus:before{
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  }
  .waitlist {
    position:absolute;
    display:block;
    max-width:40vw;
    right:2%;
    top:2%;
  }

